# java
*.class
*.log

# gradle
.gradle
build/
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties

# maven
target/

# intellij idea
*.iml
.idea
out/

.vscode
*.code-workspace

.settings
.project
.classpath
.terraform
.factorypath

# Project exclude paths
/parent/classes/